[submodule "tests/kerl-spec"]
	path = tests/kerl-spec
	url = https://github.com/iotaledger/kerl
[submodule "contrib/blue-app-iota-loader"]
	path = contrib/blue-app-iota-loader
	url = https://github.com/IOTA-Ledger/blue-app-iota-loader.git
[submodule "dev/speculos"]
	path = dev/speculos
	url = https://github.com/ledgerhq/speculos
[submodule "dev/sdk/nanos-secure-sdk"]
	path = dev/sdk/nanos-secure-sdk
	url = https://github.com/ledgerhq/nanos-secure-sdk
[submodule "dev/sdk/nanosplus-secure-sdk"]
	path = dev/sdk/nanosplus-secure-sdk
	url = https://github.com/ledgerhq/nanosplus-secure-sdk
[submodule "dev/sdk/nanox-secure-sdk"]
	path = dev/sdk/nanox-secure-sdk
	url = https://github.com/ledgerhq/nanox-secure-sdk
